.project-detail-title {
    font-size: 100px;
    color: var(--theme-green-color);
    font-weight: bold;
}

.project-duration, .company-work-duration {
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 40px;
}

.project-subtitle, .company-subtitle {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 5px;
}

.project-description-text, .company-project-description-text {
    color: #938D8D;
    font-size: 25px;
    margin-bottom: 35px;
}

.project-subtitle:last-of-type, .company-project-description-text:last-of-type {
    margin-bottom: 25px;
}

.project-link {
    color: var(--theme-green-color);
}